.one
{
	display:flex;
	border:2px solid black;
	margin:400px;
	margin-top:5px;
	margin-bottom:5px;
	flex-direction:column;
}
.one .split1
{
	display:flex;
	flex-direction:row;
	background-color:gray;
}
.one .split1 .bb
{
	height:20px;
	width:50px;
	background-color:white;
	margin:5px;
	margin-left:10px;
}
.one .split1 .eb1
{
	height:20px;
	width:50px;
	background-color:white;
	margin:5px;
	margin-left:250px;
}
.one .split1 .eb
{
	height:20px;
	width:50px;
	background-color:white;
	margin:5px;
}
.one .split2 
{
	display:flex;
	flex-direction:column;
	background-color:lightgreen;
}
.one .split2 .dark
{
	height:50px;
	width:100px;
	background-color:white;
	margin:5px;
	margin-left:230px;
}
.one .split2 .text
{
	height:20px;
	width:50px;
	background-color:white;
	margin:5px;
	margin-left:250px;
}
.two
{
	display:flex;
	border:2px solid black;
	margin:400px;
	margin-top:5px;
	margin-bottom:5px;
	flex-direction:column;
}
.two .split1
{
	display:flex;
	flex-direction:column;
}
.two .split1 .dark
{
	height:50px;
	width:100px;
	background-color:blue;
	margin:5px;
	margin-left:230px;
}
.two .split1 .text
{
	height:20px;
	width:80px;
	background-color:gray;
	margin:5px;
	margin-left:240px;
}
.two .split1 .b
{
	height:20px;
	width:50px;
	background-color:pink;
	margin:5px;
	margin-left:450px;
}
.two .split2
{
	display:flex;
	flex-direction:column
}
.two .split2 .split21
{
	display:flex;
	flex-direction:row;
}
.two .split2 .split21 .b1
{
	height:20px;
	width:50px;
	background-color:purple;
	margin:5px;
	margin-left:200px;
}
.two .split2 .split21 .b
{
	height:20px;
	width:50px;
	background-color:purple;
	margin:5px;
}
.two .split2 .split22
{
	display:flex;
	justify-content:center;
}
.two .split2 .split22 .text
{
	height:20px;
	width:80px;
	background-color:gray;
	margin:5px;
}
